# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
build/
dist/
*.egg-info/

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Sensitive Data
.env
*.env
config.ini
secrets.*
credentials.*

# Large data files
src/data/raw/*.csv